# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/aira_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-this-min-32-chars-random-string"

# App
NEXT_PUBLIC_APP_NAME="Aira ERP"
NEXT_PUBLIC_CURRENCY_SYMBOL="৳"
NEXT_PUBLIC_TIMEZONE="Asia/Dhaka"

# AI Phase 2
GLM5_API_KEY=""
GLM5_API_URL=""

# Vercel Blob Storage Phase 2
BLOB_READ_WRITE_TOKEN=""
